<div class="p-5 shadow-md rounded-lg bg-blue-100 dark:bg-slate-800">
  <h3 class="mt-0">Aloha!</h3>
  <p class="mb-0">
    Registration for the Native Hawaiian Education Association Conference this
    March 21 and 22, 2024 is now open! View details <a href="#">here</a>.
    Register <a href="#">here.</a>
  </p>
  <p>Mahalo!</p>
</div>
<div class="p-5 shadow-md rounded-lg bg-indigo-50 dark:bg-slate-800">
  <h2 class="mt-0 text-primary font-[400]">2024 NHEA Conference Program</h2>
  <h3>Location: Pāʻina Building, UH Maui College</h3>
  <h4>Day One - Thursday, Mar 21, 2024</h4>
  <ul>
    <li>10:30 am - Check in</li>
    <li>
      11:00 am - Wehena
      <ul>
        <li>Keynote</li>
        <li>EOY Ceremony</li>
      </ul>
    </li>
    <li>12:30 pm - Lunch</li>
    <li>1:30 pm - Workshop 1</li>
    <li>2:30 pm - Workshop 2</li>
    <li>3:30 pm - Panel Discussion</li>
    <li>4:30 pm - Pau Hana</li>
  </ul>
  <h4>Day Two - Friday, Mar 22, 2024</h4>
  <ul>
    <li>9:00 am - Keynote</li>
    <li>10:30 am - Workshop 3</li>
    <li>11:00 am - Workshop 4</li>
    <li>12:00 pm - Lunch</li>
    <li>1:00 pm - Hana Noʻeau</li>
    <li>2:00 pm - Hana Noʻeau</li>
    <li>3:00 pm - Hōʻike</li>
    <li>4:00 pm - Panina</li>
  </ul>
</div>
