<footer
  class="flex flex-wrap justify-around bg-slate-900 text-white p-4 items-center gap-5 [&_a]:[text-decoration:none]"
>
  <p>
    ©2012 Native Hawaiian Education Association | P.O. Box 1190, Wailuku,
    Hawaii 96793
  </p>
  <div>
    <a
      href="https://www.facebook.com/profile.php?id=100067402338557"
      rel="noopener noreferrer"
      target="_blank"
      aria-label="facebook"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#eee"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path
          d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
        ></path>
      </svg>
    </a>
    <a
      href="https://www.instagram.com/nheahawaii/"
      rel="noopener noreferrer"
      target="_blank"
      aria-label="instagram"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#eee"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"> </rect>
        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"> </path>
        <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
      </svg>
    </a>
  </div>
</footer>
