<nav class="bg-slate-900 text-white text-xl fixed top-0 left-0 w-full z-10">
  <div class="flex flex-wrap justify-between">
    <div class="py-[26px] px-4 hover:bg-slate-800 cursor-pointer">
      <a class="no-underline text-white" href="/">LOGO</a>
    </div>
    <label
      class="peer md:hidden py-[26px] hover:bg-slate-800 pr-4 pl-1 cursor-pointer focus-within:outline outline-blue-400 outline-3"
      ><input type="checkbox" class="w-0 opacity-0" checked />&#9776;</label
    >
    <ul
      class="list-none p-0 flex peer-has-[:checked]:hidden md:peer-has-[:checked]:flex flex-wrap hover:*:bg-slate-800 *:w-[100dvw] md:*:w-fit m-0 *:text-center [&_a]:block [&_a]:py-[26px] md:[&_a]:px-4 [&_a]:text-white [&_a]:no-underline"
    >
      <li><a href="/">home</a></li>
      <li><a href="/annual-convention">annual convention</a></li>
      <li><a href="/register">register</a></li>
      <li><a href="/about-us">about us</a></li>
    </ul>
  </div>
</nav>
<style>
  .hidden {
    display: none;
  }
</style>
